{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="display: inline-flex">Категории</h1>
    <a href="{{ path('categories_new') }}" class="btn btn-sm btn-primary"
       style="display: inline-flex;float: right; margin-top: 28px;">Добавить новую категорию</a>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Родительская категория</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('categories_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                {% if category.treeLevel == 0 %}
                    <td>{{ category.name }}</td>
                {% elseif category.treeLevel == 1 %}
                    <td style="padding-left: 20px;">{{ category.name }}</td>
                {% elseif category.treeLevel == 2 %}
                    <td style="padding-left: 40px;">{{ category.name }}</td>
                {% elseif category.treeLevel == 3 %}
                    <td style="padding-left: 60px;">{{ category.name }}</td>
                {% endif %}
                {% if category.name != category.parent %}
                <td>{{ category.parent }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}

                <td class="col-sm-2 ">
                    <a href="{{ path('categories_show', { 'id': category.id }) }}" class="btn btn-sm btn-info"><em class="fa fa-eye">&nbsp;</em></a>
                    <a href="{{ path('categories_edit', { 'id': category.id }) }}" class="btn btn-sm btn-info"><em class="fa fa-pencil"></em></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
