{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="display: inline-flex">Categories list</h1>
    <a href="{{ path('categories_new') }}" class="btn btn-sm btn-primary"
       style="display: inline-flex;float: right; margin-top: 28px;">Add new manufacturer</a>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('categories_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.name }}</td>
                <td class="col-sm-2 ">
                    <a href="{{ path('categories_show', { 'id': category.id }) }}" class="btn btn-sm btn-info"><em class="fa fa-eye">&nbsp;</em></a>
                    <a href="{{ path('categories_edit', { 'id': category.id }) }}" class="btn btn-sm btn-info"><em class="fa fa-pencil"></em></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categories_new') }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
