{% extends 'base.html.twig' %}

{% block body %}
    <h1>Страница товара</h1>

    <table class="table table-hover table-responsive">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Цена</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Валюта</th>
                <td>{{ product.currency }}</td>
            </tr>
            <tr>
                <th>Наличие</th>
                <td>{{ product.availability }}</td>
            </tr>
            <tr>
                <th>Категория</th>
                {% for cat in product.category %}
                <td>{{ cat.name }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Изображения</th>
                <td>{% for element in product.files %}
                {% if product.files != null %} <img  src="{{ asset('images/products/' ~ element.file) }}" style=" width:200px;">{% else %} <p>Нет изображения</p>{% endif %}
            {% endfor %}</td>
        </tbody>
    </table>


            <a href="{{ path('products_index') }}" class="btn btn-sm btn-default">Back to all</a>

            <a href="{{ path('products_edit', { 'id': product.id }) }}" class="btn btn-sm btn-default">Edit</a>

            <div style="display: inline-block;">
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-sm btn-danger" value="Delete">
            {{ form_end(delete_form) }}
            </div>

{% endblock %}
